#content {
  margin-top: 2.7em;
  margin-bottom: 7em;
  > *, > p {
    margin: 2.3em auto;
    line-height: 1.8;
  }
  p:has(> audio) {
    margin: 0;
  }
  h2, h3, h4, h5, h6 {
    margin-top: 1.8em;
    margin-bottom: 1.7em;
    padding-top: 0.7em;
    color: #554545;
    font-weight: bold;
    line-height: 1.25;
  }
  h2 {
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-bottom: 0.3em;
    font-size: 1.57em;
    border-bottom: solid 1.3px #e0e0e0;
  }
  h3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.3em;
    font-size: 1.27em;
    border-bottom: solid 1px #e0e0e0;
  }
  h4 {
    display: inline-block;
    margin: 0;
    padding: 0.5em 0.3em 0.4em;
    font-size: 1.1em;
    border-bottom: solid 1.3px #d9d9d9;
  }
  h5 {
    font-size: 1.09em;
  }
  h6 {
    font-size: 1.05em;
  }
  ul, ol {
    padding-left: 2.222em;
    @include tablet {
      padding-left: 1.3em;
    }
  }
  ul {
    li {
      list-style: disc;
    }
  }
  ol {
    li {
      list-style: decimal;
      padding-left: 0.7em;
    }
  }
  li {
    margin: 0.2em;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: solid 2.7px #dfd1c6;
    border-radius: 7px;
    &.win11_ss {
      border-radius: 8px !important;
    }
    ~ em {
      display: block;
      margin: 3px auto;
      padding: 0.1em 0 0;
      color: #908e8d;
      font-size: 0.8em;
      line-height: 1.5;
      text-align: center;
    }
    @include mobile {
      max-height: none;
    }
  }
  code {
    margin: auto 0.37em;
    padding: 0.13em 0.5em;
    vertical-align: 0.05em;
    color: #54514f;
    font-size: 0.85em;
    line-height: 1;
    font-family: Consolas, Monaco, Menlo, monospace;
    border-radius: 5px;
    background-color: #f3efec;
  }
  pre {
    code {
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      background-color: initial;
    }
    &:focus-visible {
      outline: none;
    }
  }
  iframe {
    max-width: 100%;
  }
  sup {
    font-size: 0.7em;
  }
  div[id^="attachment_"] {
    width: auto !important;
  }
  .wp-caption {
    max-width: 100%;
    .wp-caption-text {
      margin: auto 3.7em 3.5em;
      padding: 0.79em 0 0;
      font-size: 0.7em;
      line-height: 1.5;
      text-align: center;
      @include mobile {
        margin: auto 0.9em;
      }
    }
  }
  .wp-video {
    max-width: 100%;
    height: auto;
    video {
      width: 100%;
      height: auto;
    }
  }
  blockquote {
    margin: 2.7em auto;
    padding: 0.1em 0 0.5em 1.5em;
    color: #6d6d6d;
    border-left: 5px solid #c1bdb8;
  }
  blockquote.img {
    border: 0 !important;
    background-color: #f0f0f0 !important;
    padding: 0.5em 2.3em 0.1em !important;
    > .wp-caption {
      margin: 1em 0;
      img {
        border: none !important;
        border-radius: 0 !important;
      }
      .wp-caption-text {
        margin-bottom: 1.3em;
        color: #a4a4a4;
        font-size: 0.6em;
      }
    }
  }
  table {
    width: 99%;
    max-width: 100%;
    font-size: 0.87em;
    border: solid 2.3px #f0eae1;
    border-spacing: 0;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #eeeeee;
      padding: 6px;
    }
  }
  thead {
    background-color: #fffaf5;
    tr {
      th {
        border: solid 1.7px #f0eae1;
      }
    }
  }
  tbody tr td {
    border: 1.3px dashed #bfbfbf;
  }
  th > code,
  td > code {
    word-break: break-all;
  }
  // Cocoon で入力されたボタンを BaseButton 仕様に合わせているが、CSS が完全に一致していないといけないつもりはない
  .btn-wrap {
    > a {
      position: relative;
      display: inline-block;
      padding: 0.7em 3.1em 0.79em 1.7em;
      color: #ffffff;
      font-size: 0.85em;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      border: 1.9px solid transparent;
      border-radius: 7px;
      box-shadow: 1.3px 1.7px 5px -2px #50494e59;
      transition: all 0.13s ease-out;
      cursor: pointer;
      user-select: none;
      &:hover {
        box-shadow: none;
        transform: translateY(0.7px);
        filter: none;
      }
      &::after {
        position: absolute;
        top: 0;
        bottom: 0.3px;
        width: 0.5em;
        height: 1em;
        margin: auto auto auto 0.8em;
        content: "";
        mask: url("@/assets/svgs/angle-right.svg");
        mask-size: cover;
        background-color: #ffffff;
        @include mobile {
          right: 1.7em;
        }
      }
    }
    &.btn-wrap-brown > a {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }
    &.btn-wrap-orange > a {
      border-color: #edb067;
      background-color: #edb067;
    }
    &.btn-wrap-red > a {
      border-color: #f48282;
      background-color: #f48282;
    }
  }
  .toc {
    display: table;
    width: 80%;
    margin: 3em auto 1em;
    padding: 1em 1.6em 1.1em;
    font-size: 0.85em;
    line-height: 1.8;
    border: 1.3px solid #ded8d4;
    border-radius: 5px;
    .toc-checkbox {
      display: none;
      &:checked ~ .toc-content {
        visibility: visible;
        padding-top: 0.6em;
        height: 100%;
        opacity: 1;
      }
      &:checked + .toc-title::after {
        content: "[みない]";
      }
    }
    .toc-title {
      display: block;
      padding: 2px 16px;
      font-size: 1.1em;
      text-align: center;
      cursor: pointer;
      &::after {
        content: "[みる]";
        margin-left: 0.5em;
        cursor: pointer;
        font-size: 0.8em;
      }
      &:hover::after {
        text-decoration: underline;
      }
    }
    .toc-content {
      visibility: hidden;
      height: 0;
      opacity: 0;
      border-top: 1px solid #edecea;
      transition: all 0.37s ease;
      .toc-list {
        margin: 1em auto;
        padding-left: 0;
        > li > a {
          font-weight: bold;
        }
        a {
          color: #525252;
          text-decoration: none;
        }
        ul,
        ol {
          margin: 0.3em auto 1em;
          padding-left: 1.3em;
        }
        ul {
          list-style: none;
        }
        li {
          margin: 0.2em;
          list-style: none;
        }
        li li {
          line-height: 1.55;
        }
        li li a {
          color: #9a9a9a;
          font-weight: bold;
          font-size: 0.95em;
        }
        li li li {
          line-height: 1.4;
        }
        li li li a {
          color: #878787;
          font-weight: normal;
          font-size: 0.93em;
        }
        li li li ul {
          margin: 0.3em auto 1em;
        }
        li li li li {
          line-height: 1.3;
        }
        li li li li a {
          color: #959595;
          font-size: 0.9em;
        }
        li li li li li a {
          color: #959595;
        }
      }
      a {
        transition: 0.1s;
        &:hover {
          color: #c27c3e;
          text-decoration: underline;
          transition: 0.1s;
        }
      }
    }
    @include mobile {
      width: 95%;
    }
  }
  .box-common {
    position: relative;
    padding: 3em 1.5em 0.6em;
    color: #666666;
    font-size: 0.95em;
    border: solid 2.7px #f1f1f1;
    border-radius: 11px;
    &::before {
      position: absolute;
      display: inline-block;
      top: 0.777em;
      left: 0;
      right: 0;
      margin: auto;
      padding: 0;
      width: 27px;
      height: 27px;
      font-size: 27px;
      font-weight: 900;
      line-height: 27px;
      border-right: none;
      @include mobile {
        top: 0.5em;
      }
    }
    > * {
      margin: 0.7em auto;
    }
    > p > img,
    > p > .wp-caption > img {
      margin: 1.5em auto;
    }
    .blogcard img {
      margin: 0;
    }
    & > ul,
    & > ol {
      padding-left: 1.3em;
    }
    blockquote {
      margin: 1.5em auto;
    }
    &.box-info {
      background-color: #fffaf0;
      &::before {
        content: "";
        mask: url("@/assets/svgs/info.svg");
        mask-size: cover;
        background-color: #e5d187;
      }
    }
    &.box-alert {
      background-color: #fff7f6;
      &::before {
        content: "";
        mask: url("@/assets/svgs/alert.svg");
        mask-size: cover;
        background-color: #f6a2a2;
      }
    }
    &.box-rewrite {
      background-color: #fafff6;
      &::before {
        content: "";
        mask: url("@/assets/svgs/edit.svg");
        mask-size: cover;
        background-color: #9bbc7e;
        top: 1em;
        width: 23px;
        height: 23px;
        font-size: 23px;
        line-height: 23px;
        @include mobile {
          top: 0.7em;
        }
      }
      .rewrite-date {
        color: #9bbc7e;
        font-weight: bold;
      }
    }
    .wp-caption img {
      margin: 1.5em auto 0;
    }
    .wp-caption-text {
      margin: auto 3.7em 2.5em;
    }
    @include mobile {
      padding-top: 2.5em;
      padding-left: 1.1em;
      padding-right: 1.1em;
    }
  }
  .num-ol {
    counter-reset: number;
    padding-left: 1em;
    li {
      position: relative;
      margin: 0;
      padding: 0.9em 0 1em 3em;
      line-height: 1.59;
      list-style: none;
      &::before {
        counter-increment: number;
        content: counter(number);
        position: absolute;
        left: 0;
        width: 1.7em;
        height: 1.7em;
        color: #ffffff;
        font-weight: bold;
        font-size: 0.9em;
        background-color: var(--color-primary);
        border-radius: 50%;
        line-height: 1.6em;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
      }
      @include mobile {
        padding-left: 2.9em;
      }
    }
    @include mobile {
      padding-left: 0.3em;
    }
  }
  .keyboard-key {
    margin: auto 0.5em;
    padding: 0.27em 0.39em;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 0.7em;
    color: #555555;
    background-color: #f9f9f9;
    border: solid 1.57px #bbbbbb;
    box-shadow: 0.3px 0.8px 2px rgb(0 0 0 / 11%);
  }
  .blogcard-wrap {
    display: block;
    width: 95%;
    margin: auto;
    text-decoration: none;
    .blogcard {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.7em 1.3em 0.7em 1em;
      height: 7em;
      background-color: #fffaf6;
      border-radius: 7px;
      color: var(--color-text);
      line-height: 1.4;
      box-shadow: 1px 1.1px 4.3px 0 rgb(0 0 0 / 15%);
      transition: 0.19s all ease;
      &:hover {
        box-shadow: none;
        transform: translateY(1.3px);
      }
      .blogcard-thumbnail {
        margin: 0 1.5em 0 0;
        width: 31%;
        img {
          box-shadow: none;
          border: none;
        }
        @include mobile {
          width: 41%;
          margin-right: 0.9em;
          transform: translateY(0.9px);
        }
      }
      .blogcard-content {
        position: relative;
        top: -3%;
        display: flex;
        align-items: center;
        margin: 0;
        max-height: none;
        min-height: initial;
        width: 100%;
        height: 100%;
        .blogcard-title {
          margin: 0;
          font-size: 0.92em;
          font-weight: bold;
          @include mobile {
            font-size: 0.81em;
            line-height: 1.3;
          }
        }
      }
      .blogcard-snippet, .blogcard-footer {
        display: none;
      }
      @include mobile {
        height: auto;
        min-height: 4.7em;
        padding: 0.7em 1em 0.9em 0.85em;
      }
    }
  }
  .static_tweet {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 525px;
    font-size: 0.95em;
    > a {
      display: block;
      padding: 0.8em 1.3em 0.41em;
      border: solid 2px #d5d7d9;
      border-radius: 10px;
      background-color: #ffffff;
      color: var(--color-text);
      text-decoration: none;
      transition: 0.23s all ease;
      .content_wrap {
        .header {
          display: flex;
          align-items: center;
          .icon {
            img {
              border: none;
              border-radius: 50%;
            }
          }
          .author {
            margin-left: 1.1em;
            margin-bottom: 1.3px;
            font-size: 0.9em;
            line-height: 1.3;
            .name {
              font-weight: bold;
              .badge {
                position: relative;
                &::after {
                  position: absolute;
                  content: "";
                  display: inline-block;
                  top: 0.2em;
                  left: 0.3em;
                  width: 17px;
                  height: 17px;
                  background-image: url("@/assets/images/twitter-blue.png");
                  background-size: cover;
                }
              }
            }
            .id {
              font-size: 0.87em;
              color: #86898b;
            }
          }
          .twitter_icon {
            margin-left: auto;
            img {
              margin-bottom: 0.6em;
              border: none;
            }
          }
        }
        .body {
          margin: 1em auto 0.3em;
          padding-bottom: 1em;
          font-size: 0.95em;
          line-height: 1.5;
          border-bottom: solid 1px #d5d7d9;
          .like_link {
            color: var(--color-link);
          }
          .link_card {
            margin: 0.7em auto auto;
            padding: 0 0 0.7em;
            border: solid 1px #d5d7d9;
            border-radius: 10px;
            .thumbnail {
              img {
                border-radius: 10px 10px 0 0;
                border: none;
              }
            }
            .content {
              margin-top: 0.5em;
              padding-left: 0.5em;
              padding-right: 0.5em;
              line-height: 1.4;
              .title {
                font-weight: bold;
                font-size: 0.9em;
              }
              .description {
                font-size: 0.82em;
                color: #86898b;
              }
            }
            .ref_tweet {
              padding: 0.5em 0.9em 0;
              font-size: 0.9em;
              line-height: 1.4;
              .ref_header {
                display: flex;
                align-items: center;
                gap: 0.15em;
                font-size: 1.05em;
                .ref_icon {
                  img {
                    display: inline;
                    border: none;
                  }
                }
                .ref_name {
                  font-size: 0.97em;
                  font-weight: bold;
                }
                .ref_badge {
                  position: relative;
                  width: 17px;
                  margin-right: 3px;
                  &::after {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    top: 0.7px;
                    bottom: 0;
                    margin: auto;
                    width: 17px;
                    height: 17px;
                    background-image: url("@/assets/images/twitter-blue.png");
                    background-size: cover;
                  }
                }
                .ref_id {
                  font-size: 0.87em;
                  color: #86898b;
                }
              }
              .ref_body {
                margin-top: 0.3em;
              }
            }
          }
          .media_wrap {
            margin: 0.7em auto auto;
            border: solid 1px #d5d7d9;
            border-radius: 10px;
            .thumbnails {
              display: grid;
              img {
                object-fit: cover;
                border-radius: 10px;
                border: none;
                overflow: hidden;
              }
            }
            .video_thumbnail {
              position: relative;
              img {
                border-radius: 10px;
                border: none;
              }
              &::after {
                position: absolute;
                content: "";
                display: inline-block;
                inset: 0;
                margin: auto;
                width: 50px;
                height: 50px;
                background-image: url("@/assets/images/circle-play.png");
                background-size: cover;
                border: solid 3px #ffffff;
                border-radius: 50%;
              }
            }
          }
        }
        .meta {
          display: flex;
          font-size: 0.8em;
          color: #86898b;
          > * {
            position: relative;
            margin: auto 1.5em;
            &::before {
              position: absolute;
              content: "";
              mask-size: cover;
              display: inline-block;
              background-color: #86898b;
              top: 1.7px;
              left: -1.4em;
              bottom: 0;
              margin: auto;
              padding: 0;
              width: 13px;
              height: 13px;
              font-size: 13px;
            }
          }
          .reply {
            &::before {
              mask: url("@/assets/svgs/comment.svg");
            }
          }
          .retweet {
            margin: auto 1.4em auto 1.6em;
            &::before {
              top: 3.3px;
              left: -1.5em;
              width: 15px;
              height: 15px;
              mask: url("@/assets/svgs/retweet.svg");
            }
          }
          .like {
            &::before {
              mask: url("@/assets/svgs/heart.svg");
            }
          }
          .timestamp {
            margin-left: 0.3em;
            &::before {
              content: none;
            }
          }
        }
      }
      &:hover {
        background-color: #f3f5f7;
      }
    }
  }
  .product-item-box {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2em 0;
    padding: 0;
    width: 100%;
    a {
      transition: 0.13s all ease;
      &:hover {
        filter: saturate(0.7);
      }
    }
    .product-item-thumb {
      width: 48%;
      margin: 0 auto 1em;
      text-align: center;
      .image-thumb {
        img {
          border: 0;
          box-shadow: none;
        }
        .image-content {
          position: absolute;
          top: 0;
          right: 0;
          border: 1px solid #eeeeee;
          border-radius: 2px;
          background-color: #f5f6f7;
          visibility: hidden;
          opacity: 0;
          z-index: 99;
          transition: all 0.3s ease;
          img {
            display: block;
          }
        }
        &:hover {
          > .image-content {
            visibility: visible;
            opacity: 1;
            &:hover {
              display: none;
            }
          }
        }
      }
      * {
        display: block;
      }
      > a > img {
        margin: 0 auto;
      }
      .swatchimages {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5em;
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          margin: 3px;
          &:hover {
            box-shadow: 0 0 3px 1px #d5a16e;
          }
        }
        img {
          display: block;
        }
        @include mobile {
          display: none;
        }
      }
      @include mobile {
        width: 100%;
      }
    }
    .product-item-content {
      top: -31px;
      width: 52%;
      padding-left: 2em;
      border-radius: 5px;
      transition: all 0.43s cubic-bezier(0.55, -0.07, 0.17, 0.77);
      .product-item-title a {
        display: inline-block;
        color: var(--color-link);
        font-weight: bold;
        line-height: 1.4;
      }
      .product-item-snippet {
        .product-item-maker {
          margin-left: 0.7em;
          font-size: 0.7em;
          @include mobile {
            margin-left: 0;
          }
        }
        .product-item-review {
          margin-top: 0.9em;
          margin-right: 1.17em;
          font-size: 0.8em;
          text-align: center;
          a {
            color: var(--color-link);
          }
          .fa-comments-o {
            position: relative;
            display: inline-block;
            &::before {
              position: absolute;
              left: -1.4em;
              bottom: -2.3px;
              aspect-ratio: 1.253333/1;
              width: 17px;
              margin: auto;
              content: "";
              mask: url("@/assets/svgs/comments.svg");
              mask-size: cover;
              background-color: var(--color-text);
              @include mobile {
                left: -1.6em;
                bottom: -1.5px;
                width: 15px;
              }
            }
          }
          @include mobile {
            margin-right: 0;
            padding-left: 1em;
          }
        }
      }
      .product-item-buttons {
        margin-top: 0.7em;
        .shoplinkamazon, .shoplinkrakuten, .shoplinkyahoo, .shoplinkbtn1 {
          width: 83.7%;
          margin: 0 auto;
          line-height: 1.3;
          a {
            position: relative;
            display: block;
            margin-bottom: 9px;
            padding: 10px 0 11px;
            border-radius: 3px;
            color: #ffffff;
            font-size: 0.72em;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            box-shadow: 1.3px 1.3px 3.7px rgba(0, 0, 0, 0.21);
            transition: 0.17s all cubic-bezier(0.04, 0.62, 0.68, 0.97);
            img {
              // 1px image
              position: absolute;
              bottom: 0;
              right: 0;
            }
            &:hover {
              opacity: 1;
              box-shadow: none;
              transform: translateY(0.7px) scaleX(0.997);
              transition: 0.13s all cubic-bezier(0.04, 0.62, 1, 0.8);
            }
            &::after {
              position: absolute;
              top: 1px;
              bottom: 0;
              width: 1em;
              height: 1em;
              margin: auto auto auto 0.5em;
              content: "";
              mask: url("@/assets/svgs/chevron-right.svg");
              mask-size: cover;
              background-color: #ffffff;
            }
            @include mobile {
              font-size: 0.8em;
            }
          }
          @include mobile {
            line-height: 1.5;
          }
        }
        .shoplinkamazon a {
          background-color: #f7bf77;
        }
        .shoplinkrakuten a {
          background-color: #e89b9b;
        }
        .shoplinkyahoo a {
          background-color: #a9c1e7;
        }
        .shoplinkbtn1 a {
          margin: 0 auto 9px;
          background-color: #96cfb7;
        }
      }
      @include mobile {
        width: auto;
        padding: 0;
        text-align: center;
      }
    }
    @include mobile {
      display: block;
    }
  }
  // クラス名が嫌ならのちに一括置換してもよい（バルーンの HTML タグセットの出力を使わなくなったら）
  .speech-wrap {
    .speech-person {
      display: none;
    }
    .speech-balloon {
      padding: 0.2em 1.5em 0.38em;
      font-size: 0.9em;
      line-height: 1.5;
      border-radius: 7px;
      background-color: #f1efec;
    }
  }
  .appreach {
    margin: 2.3em auto;
    padding: 1.2em 1em 1.3em;
    width: 93%;
    border: solid 2.3px #f0efee;
    border-radius: 13px;
    p {
      margin: 0;
    }
    img {
      box-shadow: none;
      border: none;
    }
    .appreach__icon {
      float: left;
      margin: 0 3% 0 0;
      width: 16%;
      max-width: 16%;
      height: auto;
      border-radius: 10%;
      overflow: hidden;
    }
    .appreach__detail {
      display: inline-block;
      width: 76%;
      max-width: 76%;
      line-height: 1.5;
      .appreach__name {
        font-size: 1em;
        line-height: 1.5em;
      }
      .appreach__info {
        font-size: 0.7em;
        .appreach__developper,
        .appreach__price {
          margin-right: 0.8em;
        }
        .appreach__posted {
          display: none;
        }
      }
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      @include mobile {
        margin-top: 0.07em;
      }
    }
    .appreach__links {
      float: left;
      margin-top: 13px;
      height: 40px;
      white-space: nowrap;
      .appreach__aslink, .appreach__gplink {
        display: inline-block;
        img {
          display: inline-block;
          margin-right: 0.7em;
          height: 40px;
          width: 135px;
          @include mobile {
            margin: auto 0.3em;
          }
        }
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    @include mobile {
      padding-top: 0.9em;
    }
  }
  .waku-common {
    padding: 0 1.53em 0.17em;
    background-color: #fffcf8;
    border: solid 3px #e6dacd;
    border-radius: 7px;
    &.waku-gray {
      background-color: #fbfbfb;
      border-color: #dbdbdb;
    }
    > ul, 
    > ol {
      margin-top: 1.7em;
      margin-bottom: 1.87em;
      padding-left: 1.5em;
      > li {
        margin: 0.67em 0;
      }
      @include mobile {
        margin-top: 1.3em;
        margin-bottom: 1.5em;
        padding-left: 1.3em;
      }
    }
    @include mobile {
      padding-left: 1em;
      padding-right: 0.9em;
    }
  }
  // Nuxt 3 乗り換え前に同様のものをインライン CSS で書いていたものはそのままになっています
  .simple_table {
    width: 97%;
    margin: 0 auto;
    font-size: 0.87em;
    border-collapse: collapse;
    border: solid 2.3px #f0eae1;
    background-color: #fffcfa;
    td {
      border: 1.3px dashed #bfbfbf;
    }
  }
  .dot-line-brown {
    width: 97%;
    margin: 44px auto -33px;
    border-color: #f5ebdc;
    border-top-width: 5px;
    border-top-style: dotted;
  }
  .micro-bottom {
    margin-top: -3.1em;
    margin-bottom: 1em;
    color: #4e4e4e;
    font-size: 0.67em;
    text-align: center;
    .red {
      &::after {
        background-color: #f48282;
      }
    }
    @include mobile {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  .color-red {
    color: #ff5151;
  }
  .sss {
    box-shadow: none !important;
    border: none !important;
  }
  .alignnone {
    display: inline-block;
    margin-left: 0;
  }
  .deep_shadow {
    box-shadow: 1px 1.3px 8.9px 0 rgba(0, 0, 0, 0.7);
  }
  .youtube {
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #1e1e1e;
    cursor: pointer;
    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border: solid 37px #1e1e1e;
      border-left: none;
      border-right: none;
      @include mobile {
        border-width: 23px;
      }
    }
    &::before {
      position: absolute;
      top: 0.5em;
      left: 1.3em;
      width: 78px;
      height: 18px;
      content: "";
      mask: url("@/assets/svgs/youtube-logo.svg");
      mask-size: cover;
      background-color: #ffffff;
      @include mobile {
        top: 0.34em;
        left: 0.6em;
        width: 47px;
        height: 11px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      display: inline-block;
      width: 65px;
      height: 46px;
      background-image: url("https://mirumi.media/YouTube-icon-full_color.png");
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      background-size: contain;
      vertical-align: middle;
      opacity: 0.91;
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        cursor: pointer;
        opacity: 0.73;
        background-image: url("https://mirumi.media/YouTube-icon-dark_color.png");
      }
    }
  }
  img[width="1"][height="1"] {
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
  i {
    &.fa-hand-point-up,
    &.fa-hand-point-right,
    &.fa-hand-point-down,
    &.fa-hand-point-left,
    &.fa-check-circle {
      position: relative;
      margin-right: 1.5em;
      &::after {
        position: absolute;
        top: 0.2em;
        bottom: 0;
        width: 1.15em;
        height: 1.15em;
        content: "";
        mask-size: cover;
        background-color: transparent;
      }
    }
    &.fa-hand-point-up {
      margin-right: 1.1em;
      &::after {
        top: 0.3em;
        width: 0.75em;
        height: 1em;
        mask: url("@/assets/svgs/hand-point-up.svg");
        background-color: var(--color-text);
      }
    }
    &.fa-hand-point-right {
      &::after {
        mask: url("@/assets/svgs/hand-point-right.svg");
        background-color: var(--color-text);
      }
    }
    &.fa-hand-point-down {
      margin-right: 1.1em;
      &::after {
        top: 0.3em;
        width: 0.75em;
        height: 1em;
        mask: url("@/assets/svgs/hand-point-down.svg");
        background-color: var(--color-text);
      }
    }
    &.fa-hand-point-left {
      &::after {
        mask: url("@/assets/svgs/hand-point-left.svg");
        background-color: var(--color-text);
      }
    }
    &.fa-check-circle {
      &::after {
        mask: url("@/assets/svgs/circle-check.svg");
      }
    }
  }
  @include mobile {
    margin-top: 2.3em;
    margin-bottom: 5em;
  }
}
